* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;

}
html,
body {
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  display: flex;
}
#left{
  position: relative;
  height: 100%;
  width: 40%;
}
#lnav{
  display: flex;
  justify-content: space-between;
  width:100% ;
  padding: 20px 30px;
}
#lnavr{
  display: flex;
  align-items: center;
}
#lnavr a{
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}
#lnavr i{
  color: royalblue;
}
#left #textcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#textcenter h1{
  font-size: 90px;
  font-weight: 900;
}
#textcenter p{
  opacity: 0.6; 
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
 #textcenter a{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.6;
 }
#right{
  height: 100%;
  width: 60%;
  background-color: white;
}
#rtop{
  height: 50%;
  width: 100%;
  background-color: royalblue;
  display: flex;
}
#rbottom{
  height: 50%;
  width: 100%;
 background-image: url("bottom.jpg");
 background-size: cover;
 background-position:bottom;
}
#rtopleft{
  height: 100%;
  width: 55%;
  background-image: url("pot.jpg");
  background-size: cover;
  background-position:left;
}
#rtopright{
  width: 45%;
  height: 100%;
  background-image: url("main.jpg");
  background-size: cover;
  background-position:bottom;
}

@media(max-width: 500px){
  #main{
    flex-direction: column;
  }
  #main #left{
    width: 100%;
  }
  #main #right{
    width: 100%;
  }
}